
<div id="mytable"></div>
@section scripts{
<script>
    $.ajax({
        url: 'https://localhost:44377/api/Customer/userSigupreterive',
        type: 'GET',

        contentType: "application/json;charset=utf-8",
        success: function (data) {
            alert(data);
           
            },
           

        },
        error: function (data) {

        }
    });
</script>
    }
